.quickShopSect {
    width: 100vw;
    height: max-content;
    box-sizing: border-box;
    padding: 3rem 2rem;
    position: relative;
}


.qss_innerWrapper {
    box-sizing: border-box;
    overflow-x: auto;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    scroll-snap-type: mandatory;
}

.qss_innerWrapper::-webkit-scrollbar {
    display: none;
}


/* Snap attributes */


@supports (scroll-snap-align: start) {

    /* modern scroll snap points */
    .qss_innerWrapper {
        scroll-snap-type: x mandatory;
    }

    .qss_minicat {
        scroll-snap-align: center;
    }
}

@supports not (scroll-snap-align: start) {

    /* old scroll snap points spec */
    .qss_innerWrapper {
        -webkit-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        -webkit-scroll-snap-destination: 0 50%;
        scroll-snap-destination: 0 50%;
        -webkit-scroll-snap-points-x: repeat(100%);
        scroll-snap-points-x: repeat(100%);
    }

    .qss_minicat {
        scroll-snap-coordinate: 0 0;
    }
}



/*  */


.qss_mincat_cont {
    display: flex;
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    gap: 1.5rem;
}

.qss_minicat {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border: 1px solid rgba(88, 88, 88, 0.5);
}

.qss_mc_imgWrapper {
    background-color: #F7F6F9;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qss_mc_img {
    width: 90%;
}

.qss_mc_title_container {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border: 1px solid black;

}

.qss_mc_title_container>p {
    font-size: 15px;
}

.qss_mc_title_container>.qss_mc_expand_right {
    transform: rotate(-90deg) scale(.5);
}

.qss_mc_title_container:hover>.qss_mc_expand_right {
    animation: expand_back_forth .5s linear 0s infinite alternate;
}

@keyframes expand_back_forth {
    to {
        transform: rotate(-90deg) scale(.5) translateY(0.5rem);
    }
}



.qss_scroll_btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    background-color: white;
    z-index: 3;

    box-shadow: -1px 7px 20px 1px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: -1px 7px 20px 1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: -1px 7px 20px 1px rgba(0, 0, 0, 0.47);
    cursor: pointer;
}

.qss_scroll_btn:active {
    transform: scale(.9);
}

.qss_left_scroll_btn {
    left: 2rem;
}

.qss_right_scroll_btn {
    right: 2rem;
}

.qss_left_scroll_btn>img {
    transform: rotate(90deg) scale(.8);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.qss_right_scroll_btn>img {
    transform: rotate(-90deg) scale(.8);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.curr_qss_items {
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    display: none;
}

.curr_qss_item {
    width: 2.7vw;
    height: 2.7vw;
    border-radius: 50%;
    background-color: black;
    outline: 1px solid black;
}

.curr_qss_item.active_curr_qss_item {
    background-color: white;
}


/*  Media Queries */



@media screen and (max-width: 425px) {
    .quickShopSect {
        padding: 2rem 4.8vw;
    }

    .qss_scroll_btn {
        width: 20px;
        height: 20px;
        display: none;
    }

    .qss_left_scroll_btn {
        left: .4rem;
    }

    .qss_right_scroll_btn {
        right: .4rem;
    }

    .qss_left_scroll_btn>img {
        transform: rotate(90deg) scale(.55);
    }

    .qss_right_scroll_btn>img {
        transform: rotate(-90deg) scale(.55);
    }

    .qss_minicat {
        width: 90vw;
        height: 100%;
    }

    .curr_qss_items {
        display: flex;
    }
}