.productView {
    width: 100vw;
    box-sizing: border-box;
    min-height: 100vh;
    height: max-content;
    display: flex;
    background-color: #E1CD7E;
    margin-bottom: 2rem;

    /* background: linear-gradient(to bottom, #E1CD7E 80%, white); */
}

.productView_left {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 3rem;
    height: max-content;
    position: relative;
    /* border: 1px solid red; */
}

.pvLeft_Wrapper {
    height: max-content;
    box-sizing: border-box;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pv_productQuickView {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 80%;
    gap: 2rem;
    box-sizing: border-box;
}

.pv_pqv_imgCont {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.pv_pqv_productImage {
    width: 100%;
    transition: all 0.3s linear;
}

.pv_pqv_imgCont:hover {
    border: 1px solid rgb(65, 64, 64);
}

.pv_pqv_imgCont:hover>.pv_pqv_productImage {
    transform: scale(1.05);
}

.curr_pv_items {
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.curr_pv_item {
    border-radius: 50%;
    background-color: black;
    outline: 1px solid black;
}

.curr_pv_item.active_curr_pv_item {
    background-color: white;
}


/* Middle */


.productView_middle {
    flex: 2.5;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.5rem;
    /* border: 1px solid red; */
    align-items: center;
    height: 50%;
}

.pvm_imgCont {
    width: 90%;
    height: max-content;
    /* border: 1px solid red; */
}

.pvm_productImage {
    width: 100%;
}



/* Right  */

.productView_right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 3rem;
    height: max-content;
    width: 42.9%;
}

.pv_right_innerWrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.ProductDetWrapper {
    width: 80%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    height: max-content;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.fpd_nameSect {
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid black;
}

.fpd_rating_wrapper {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: .8rem;
    /* border: 1px solid red; */
}

.fpd_rw_stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.fpd_star_icon {
    width: 15px;
}

.fpd_review_count {
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.fpd_product_name {
    font-size: 1.3rem;
}


.fpd_sizeSect {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.7rem;
    /* border: 1px solid red; */
    padding: 0.5rem 0 1.5rem 0;
    border-bottom: 1px solid black;
}

.fpd_size_title {
    box-sizing: border-box;
    /* border: 1px solid red; */
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 1rem;
}

.fpd_size_title>.sizeTxt {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.fpd_size_title>.selectedSize {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.fpd_size_options {
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;
    gap: .8rem;
}

.sizeopt_wrapper {
    padding: 0.3rem 0.7rem;
    /* border-radius: 5px; */
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.sizeopt_wrapper:hover {
    background-color: gainsboro;
}

.sizeopt_wrapper.activeOpt {
    background-color: gainsboro;
}

.sizeopt_wrapper>p {
    text-transform: uppercase;
}


.fpd_colorSect {
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 0.5rem 0 1.2rem 0;
    border-bottom: 1px solid black;
}

.colorSect_title {
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.colorSect_title>p {
    font-size: 20px;
}

.colors_wrapper {
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .6rem;
}

.colors_wrapper>.colorOpt {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.colorOpt:hover {
    outline: 3px solid black;
}

.colorOpt.activeColorOpt {
    outline: 3px solid black;
}


.fpd_priceSect {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0;
}

.priceWrapper {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 2rem;
}

.oldPrice {
    font-size: 13px;
    text-decoration: line-through;
    font-weight: 500;
}

.newPrice {
    font-size: 25px;
    font-weight: 500;
}

.ctaWrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta_box {
    padding: 0.8rem 1.9rem;
    background-color: black;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.cta_box>p {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.cta_box:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.6);
}



.secondProductDet {
    /* border: 1px solid red; */
    width: 80%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    height: max-content;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.spd_descSect {
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid black;
}

.descTxt {
    font-size: 12px;
}

.spd_mcareSect {
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid black;
}

.spd_mc_top {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.mctop_title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.spd_plusWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s linear;
}

.spd_plus_icon {
    width: 18px;
    cursor: pointer;
}

.spd_plusWrapper:hover {
    background-color: rgb(235, 235, 235);
}

.spd_mc_expandedSect {
    display: flex;
    box-sizing: border-box;
    align-items: normal;
    justify-content: space-between;
    height: 0px;
    width: 100%;
    gap: .5rem;
    transition: height 0.3s ease-in;
    overflow: hidden;
}

.spd_mc_expandedSect.open {
    height: max-content;
    padding: 1rem 0.5rem;
}


.spd_mc_expanded_det {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: max-content;
    gap: .5rem;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.2s linear;
}

.spd_mc_expanded_det:hover {
    background-color: rgb(245, 245, 245);
}

.spd_mc_eImg {
    width: 25px;
}

.spd_mc_expanded_det>p {
    font-size: 11px;
    width: 100%;
    text-align: center;
}


.spd_rt_expandedSect {
    display: flex;
    box-sizing: border-box;
    align-items: normal;
    justify-content: space-between;
    height: 0px;
    width: 100%;
    gap: .5rem;
    transition: height 0.3s ease-in;
    overflow: hidden;
}

.spd_rt_expandedSect.open {
    height: max-content;
    padding: 1rem 0.5rem;
}

.spd_rt_expanded_det {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    transition: all 0.2s linear;
    font-size: 12px;
}


/* CTL  */

.ctL_titleWrapper {
    /* border: 1px solid red; */
    padding: 0.5rem;
    box-sizing: border-box;
}

.ctlTitle {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.ctl_optionsWrapper {
    /* border: 1px solid red; */
    height: max-content;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    padding: 0.5rem;
}



/* Media Queries */



@media screen and (max-width: 989px) {
    /* Left */

    .productView {
        flex-direction: column;
    }

    .productView_left {
        width: 100vw;
        padding: 0 .5rem;
        height: max-content;
    }

    .pvLeft_Wrapper {
        width: max-content;
        display: block;

        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-snap-type: mandatory;
    }

    .pvLeft_Wrapper::-webkit-scrollbar {
        display: none;
    }

    /* Snap attributes */


    @supports (scroll-snap-align: start) {

        /* modern scroll snap points */
        .pvLeft_Wrapper {
            scroll-snap-type: x mandatory;
        }

        .pv_pqv_imgCont {
            scroll-snap-align: center;
        }
    }

    @supports not (scroll-snap-align: start) {

        /* old scroll snap points spec */
        .pvLeft_Wrapper {
            -webkit-scroll-snap-type: mandatory;
            scroll-snap-type: mandatory;
            -webkit-scroll-snap-destination: 0 50%;
            scroll-snap-destination: 0 50%;
            -webkit-scroll-snap-points-x: repeat(100%);
            scroll-snap-points-x: repeat(100%);
        }

        .pv_pqv_imgCont {
            scroll-snap-coordinate: 0 0;
        }
    }


    .pv_productQuickView {
        flex-direction: row;
        width: max-content;
        height: 100vh;
        gap: 0;
        background-color: transparent;
    }

    .pv_pqv_imgCont {
        display: flex;
        box-sizing: border-box;
        width: 95vw;
        height: 100%;
        border-radius: 0;
        padding: 0;
        background-color: transparent;
    }

    .pv_pqv_imgCont:hover {
        border: none;
    }

    .pv_pqv_productImage {
        width: 78%;
        transition: all 0.3s linear;
    }

    .pv_pqv_imgCont:hover>.pv_pqv_productImage {
        transform: none;
    }


    .curr_pv_items {
        display: flex;
    }

    .curr_pv_item {
        width: 15px;
        height: 15px;
    }

    /* middle */

    .productView_middle {
        display: none;
    }




    .productView_right {
        width: 100%;
        padding: 1rem 0;
        height: max-content;
    }

    .pv_right_innerWrapper {
        padding: 0 .5rem;
    }

    .ProductDetWrapper {
        width: 80%;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        gap: .5rem;
    }

    .fpd_rating_wrapper {
        gap: .5rem;
    }

    .fpd_rw_stars {
        gap: .3rem;
    }

    .fpd_star_icon {
        width: 10px;
    }

    .fpd_review_count {
        font-size: 13px;
    }

    .fpd_product_name {
        font-size: .9rem;
    }

    .fpd_sizeSect {
        gap: 0.7rem;
        padding: 0.5rem 0 1rem 0;
    }

    .fpd_size_title {
        gap: .7rem;
    }

    .fpd_size_title>.sizeTxt {
        font-size: 17px;
    }

    .fpd_size_title>.selectedSize {
        font-size: 14px;
    }

    .fpd_size_options {
        gap: .8rem;
    }

    .sizeopt_wrapper {
        padding: 0.2rem 0.5rem;
    }

    .sizeopt_wrapper>p {
        font-size: 12px;
    }

    .fpd_colorSect {
        gap: .8rem;
        padding: 0.3rem 0 1rem 0;
    }

    .colorSect_title>p {
        font-size: 17px;
    }

    .colors_wrapper {
        gap: .4rem;
    }

    .colors_wrapper>.colorOpt {
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }


    .fpd_priceSect {
        padding: .8rem 0;
    }

    .priceWrapper {
        align-items: flex-start;
        gap: .5rem;
    }

    .oldPrice {
        font-size: 12px;
    }

    .newPrice {
        font-size: 20px;
    }

    .cta_box {
        padding: 0.5rem 1rem;
        border-radius: 28px;
    }

    .cta_box>p {
        font-size: 11px;
    }

    .cta_box:hover {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }


    .ctl_optionsWrapper {
        width: 70%;
    }
}





@media screen and (max-width: 768px) {
    .pv_productQuickView {
        height: 80vh;
    }

    .pv_pqv_productImage {
        width: 86%;
    }

    .ctl_optionsWrapper {
        width: 100%;
    }
}





@media screen and (max-width: 500px) {
    .pv_productQuickView {
        height: 60vh;
    }

    .curr_pv_item {
        width: 2.7vw;
        height: 2.7vw;
    }


    .ProductDetWrapper {
        width: 100%;
    }
}





@media screen and (max-width: 425px) {
    .pv_productQuickView {
        flex-direction: row;
        width: max-content;
        height: 50vh;
        gap: 0;
        background-color: transparent;
    }

}





@media screen and (max-width: 320px) {
    .pv_pqv_productImage {
        width: 95%;
    }

    .descTxt {
        font-size: 10px;
    }

    .mctop_title {
        font-size: 15px;
    }

    .spd_mc_expandedSect {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }

    .spd_mc_expanded_det {
        width: 100%;
    }
}


@media screen and (max-width: 300px) {
    .pv_pqv_productImage {
        width: 86%;
    }
}